@using RiftwalkerWebsite.ViewModels
@model AccountCreationViewModel

@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("Create", "Account", FormMethod.Post))
{
    <div class="mb-3">
        <label class="form-label">Username</label>
        @Html.TextBoxFor(x => x.Username, new { @class = "form-control"})
    </div>
    <div class="mb-3">
        <label class="form-label">Device ID (For Testing)</label>
        @Html.TextBoxFor(x => x.DeviceId, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}
